{% extends 'User_Profiles/HomePage_Base.html' %}

{% block login %}
<li><a href="$$$">About</a></li>
<li><a href="$$$">Sign Up</a></li>
<li><a href="/LogIn/">Login</a></li>
{% endblock %}

{% block content %}
	<h1>Welcome to Wager</h1>
    <p class="lead">See Public Bets</p>
	<div class="container">

	<div class="starter-template">
	  <div class="list-group">
		    {% for bet in latest_bet_list %}
		        <a href="#", class="list-group-item">
		          <p>{{ bet.Terms }} -- Made BY: {{ bet.user1.User_Name }} Against: {{  bet.user2.User_Name }}</p>
		          <p>Loser {{ bet.Stakes }}</p>
		          <p align="right">{{ bet.Due_date }}</p>
		        </a>
		    {% endfor %}
	  </div>
	</div>

</div><!-- /.container -->
{% endblock %}